.header {
	font-family: Georgia, serif;
	font-size: 35px;
	font-weight: bold;
	padding: 15px;
}

.subhead{
	font-family: Georgia, serif;
	color: gray;
	font-size: 19px;
	margin-left: 40px;
}

.date{
	font-family: Georgia, serif;
	color: gray;
	font-size: 16px;
	margin-left: 43px;
	margin-bottom: 35px;
}

.article{
	font-family: Georgia, serif;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 80px;
}

.first{
	margin-top: 25px;
	padding: 15px;
}